body {
    width: 90%;
}


button {
    position: relative;
    top: 25px;
    left: 50px;
    width: 150px;
    height: 25px;
    text-align: center;
    background: white;
}


button:hover {
    background: white;
}


button a {
    text-decoration: none;
    color: black;
}


a {
    cursor: pointer;
}


.cari {
    width: 300px;
    margin-left: auto;
    transform: translateX(100px);
    position: relative;
}


.tablelogin{
    width: 75%;
    padding: 5px;
    position: relative;
    top: 75px;
    left: 250px;
}